{% extends "base.html" %}
{% block title %}Scanner{% endblock %}

{% block content %}
<h1>Scan a product</h1>

<div id="reader" style="width: 100%; max-width: 500px;"></div>
<div id="scan-result"></div>

<p class="card-subtitle">No barcode, or scanning isn't cooperating? <a href="{{ url_for('scanner.ocr_scan') }}">Scan ingredients from a photo instead</a>.</p>

<script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js" integrity="sha384-c9d8RFSL+u3exBOJ4Yp3HUJXS4znl9f+z66d1y54ig+ea249SpqR+w1wyvXz/lk+" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/barcode.js') }}"></script>
{% endblock %}
